/* @import url('https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister') */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  background-color: #FFC75F;
  padding: 1px;
  justify-content: space-between;
  box-shadow: 0 1px 12px 2px gray;
}

#homeLink{
  margin-left: 6em;
  font-size: 23px;
  color: red;
  font-family: 'Love Ya Like A Sister', cursive;
}

#profileLink{
  padding-top: 10px;
  font-size: 23px;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-right: 6em;
}

.links{
  font-size: 33px;
  text-decoration: none;
  color: white;
}

.links:hover{
  color: gray;
}

.translationTextBox{
  border: 1px solid black;
  height: 25vh;
}

.translationBox{
  height: 40vh;
  width: 70vw;
  margin: 0 auto;
  margin-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  position: relative;
  display:flex;
  flex-direction: column;
  
}

.translationBoxScroll{
  height: 40vh;
  overflow-y: auto;
}

.translatedSigns{
  float: left;
  margin-left: 4vw;
  margin-top: 2vw;  
  margin-right: 4vw;
  
}

.translationInputField{
  border-top: 3px solid #E7B355;
  height: 25vh;
  background-color: #FFC75F;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.translationInput{
  height: 50px;
  width: 500px;
  margin-top: 8vh;
  border-radius: 25px;
  font-size: 150%;
  padding-right: 14vw;
  padding-left: 2vw;
  background-color: white;


}

.translateButton{
  margin-top: 8.7vh;
  padding:0;
  margin-left:-11vw;
  border-radius: 10px;
  background-color: #ad87eb;
  padding: 5px;
  border-radius: 30px;
  width: 35px;
}

.translateButton:hover{
  background-color: #845EC2;
}

.translationInputField-footer{
  width: 100%;
  height: 5vh;
  background-color: #845EC2;
  margin-top: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* position:fixed; */
  /* bottom: 0; */
  /* margin-bottom: 7vh; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.translationInputField-footer-div{
  width: 65px;
  height: 3vh;
  background-color: #EFEFEF;
  border-radius: 10px;
  margin-top: 0.7vh;
  margin-left: 2vw;
  text-align: center;
  overflow: hidden;
}

.translationInputField-footer-div>span{
  font-size: 50%;
  color:black;
  display:table;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;    
}

#robotAndInfo{
  display: flex;
  margin-top: 3%;
  margin-left: 15%;
}

#loginForm{
  border-top: 3px solid #E7B355;
  /* background-color: #FFC75F; */
  padding: 1px;
}

.grid{
  display:grid;
  grid-template-rows: 50% 50%;
}

.gridA{
  height: 45vh;
  background-color: #FFC75F;
  z-index: 1;
}

.gridB{
  height: 39h;
  background-color: white;;
}

#loginInputField{
  height: 25vh;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
 
}

#loginInput{
  height: 50px;
  width: 500px;
  margin-top: 8vh;
  border-radius: 25px;
  font-size: 150%;
  padding-right: 14vw;
  padding-left: 2vw;
  background-color: white;
  
}

.loginInputFieldFooter{
  background-color: #845EC2;
  height: 4vh;
  width: 100%;
  margin-top: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.loginInputField-button-input{
  display:flex;
  flex-direction: row;
  grid-row: 2;
}

#firstPageInfo{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 25px;
  margin-left: 2%;
  font-family: 'Love Ya Like A Sister', cursive;
  padding-bottom: 3%;
}

#firstPageInfo > p{
  margin-left: -60%;
  font-weight: 400;
}

#robotImage{
  width: 255px;
}
@media screen and (max-width: 1300px){
  #robotImage{
    width: 200px;
  }

  #firstPageInfo{
    font-size: 20px;
  }

  .translateButton{
    margin-top: 9.1vh;
    padding:0;
    margin-left:-11vw;
    border-radius: 10px;
    background-color: #ad87eb;
    padding: 4px;
    border-radius: 30px;
    width: 35px;
  }
}

#firstPageInfo>h2{
  font-size: 150%;
}

#translationBelowText{
  font-size: 10.8px;
  font-weight: 500;
}

#buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 45%;
  margin-right: 45%;
}

.profileButtons{
  background-color: white;
  margin-top: 10px;
  border-radius: 8px;
  border-width: 1.5px;
  border-color:azure;
  font-size: 15px;
  padding: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileButtons:hover{
  background-color: lightgray;
  border-color:lightgray  ;
}

#profilePage > h1{
  color: white;
  font-size: 40px;
  font-weight: 500;
}

#profilePage{
  border-top: 3px solid #E7B355;
  padding: 1px;
  background-color: #FFC75F;
}

#translationHistory{
  margin-top: 30px;
  margin-bottom: 40px;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#translationHistory > #infoTranslationHistory {
  background-color: #845EC2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 5px;
  display: flex;
  padding-left: 5%;
}

#translationHistory > #infoTranslationHistory > span {
  background-color: white;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
}